.button {
    border: none;
    border-radius: 10px;
    color :white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 2px 0px;
}

.color {
    background-color: rgb(135, 235, 157);
}

.dark {
    background-color: #2BAE66;
}

.demo {
    background-color: #2E856E;
    width: 40%;
    height: 100px;
    font-size: 60px;
}

.lock {
    border: none;
    border-radius: 5px;
    color :black;
    background-color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-style: sans serif;
    padding: 20px 20px;
}

input[type=checkbox].switch{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.number {
    width: 40%;
    height: 40px;
}

.label {
    font-size: 24px;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

.label_selected {
    font-size: 24px;
    background-color:#2BAE66;
    font-weight: bold;
    color: white;
    padding: 7px 14px;
    border-radius: 10px;
}

b {
    font-size: 32px;
}

.home {
    height: 50px;
    width: 50px;
}